<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.renlianshibie1">

    <uses-permission android:name="android.permission.INTERNET" />

<!--    android:roundIcon="@mipmap/ic_launcher_round"-->

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/qq"
        android:roundIcon="@mipmap/qq"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Renlianshibie1"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".RetrievePassword"
            android:exported="true" />
        <activity
            android:name=".AfterLoginThree"
            android:exported="true" />
        <activity
            android:name=".AfterLoginSecond"
            android:exported="true" />
        <activity
            android:name=".AdmitFace"
            android:exported="true" />
        <activity
            android:name=".AfterLogin"
            android:exported="true" />
        <activity
            android:name=".AdmitAccountActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>